/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0 auto;
}
h1 {
  font-size: 4.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
}
h1,
h2,
h3,
p,
a,
button {
  font-family: 'Roboto', monospace;
}
.landing header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #ff3939;
  border-bottom: 3px solid #ff9e44;
}
.landing header img {
  width: 100px;
  height: 75px;
}
.landing header h1 {
  color: #ff9e44;
}
.landing header nav {
  width: 40%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}
.landing header nav a {
  color: #555;
  font-size: 1.8rem;
}
.landing header nav a:hover {
  color: #ff9e44;
}
.landing header nav a:active {
  color: #ff3939;
}
.top img {
  width: 50px;
}
.main-content {
  margin: auto 10%;
}
.main-content .main-content p {
  text-align: center;
}
.main-content .meet {
  align-content: center;
}
.ui-box {
  display: flex;
  flex-flow: row wrap;
  width: auto;
}
.content-box {
  justify-content: space-evenly;
  height: auto;
  background: #ff9e44;
  border: 5px solid black;
}
.title-names,
h1 {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
  margin: 4%;
}
img {
  display: flex width: 65%;
}
h1 {
  font-size: 2.5rem;
}
.button {
  display: flex;
  margin-top: 3%;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: #ff3939;
  border: none;
  text-decoration: none;
  color: #ff9e44;
  font-size: 20px;
}
.button a {
  text-align: center;
}
.contact-container {
  display: flex;
  flex-flow: row;
  align-content: center;
  width: 38%;
  margin-top: 5%;
  margin-left: 30%;
}
.inside-contact {
  display: flex;
  align-content: center;
}
.contact-container h2 {
  display: flex;
  justify-content: center;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #ff3939;
  color: white;
  margin-top: 4%;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: white;
  color: #ff3939;
}
.contact-container {
  border-radius: 5px;
  background-color: #ff9e44;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-size: 2rem;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1200px) {
  .contact-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    width: 85%;
    margin-top: 5%;
    margin-left: 7.5%;
  }
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
