//* MAIN CONTENT BOX
.main-content {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   // width: 1000px;

   .main-content p {
      text-align: justify;
   }

   .meet {
      align-content: center;
      // margin-top: 10%;
   }
}

//*OUTSIDE THE BOX
.ui-box {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   padding-top: 5%;
   width: 60%;
}

//* INSIDE THE BOX 
.content-box {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   color: white;
   background: maroon;
   margin: 1%;
   padding: 1%;
   width: 40%;

   .button {
      color: maroon;
      background: white;
      border-radius: 5px;
      margin: 2%;
      padding: 2%;
   }

   p {
      padding: 1%;
   }
}

.title-names,
h1 {
   display: flex;
   flex-flow: row;
   justify-content: space-evenly;
   align-content: center;
   margin: 0;
}

span {
   margin: 5%;

   img {
      // display: flex;
      width: 100%;
      // margin: 5%;
   }

}

h1 {
   font-size: 2.5rem;
}

@media @tablet {

   //*OUTSIDE THE BOX
   .ui-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // flex-flow: row;

      // justify-content: space-between;
      padding-top: 5%;
      margin-top: 10%;
      width: 100%;
   }

   //* INSIDE THE BOX 
   .content-box {
      display: flex;
      flex-flow: row wrap;
      color: white;
      background: maroon;
      margin: 1%;
      padding: 1%;
      width: 45%;

      .button {
         color: maroon;
         background: white;
         border-radius: 5px;
         margin: 2%;
         padding: 2%;
      }

      h1 {
         align-items: center;
      }

      p {
         padding: 1%;
      }
   }

   .footer {
      bottom: 3.5em;
      left: 3.5em;
   }
}

@media @mobile {

   //*OUTSIDE THE BOX
   .ui-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // flex-flow: row;

      // justify-content: space-between;
      padding-top: 5%;
      margin-top: 10%;
      width: 100%;
   }

   //* INSIDE THE BOX 
   .content-box {
      display: flex;
      flex-flow: row wrap;
      color: white;
      background: maroon;
      margin: 1%;
      padding: 1%;
      width: 45%;

      .button {
         color: maroon;
         background: white;
         border-radius: 5px;
         margin: 2%;
         padding: 2%;
      }

      h1 {
         align-items: center;
      }

      p {
         padding: 1%;
      }
   }

   .footer {
      bottom: 2em;
      left: 2em;
   }
}