// MAIN CONTENT BOX
.main-content {
   margin: auto 10%;

   .main-content p {
      text-align: center;
   }

   .meet {
      align-content: center;
   }
}

//OUTSIDE THE BOX
.ui-box {
   display: flex;
   flex-flow: row wrap;
   width: auto;

   // background: @grey-background;

}

// INSIDE THE BOX
.content-box {
   // display: flex;
   // flex-flow: row wrap;
   // align-content: center;
   justify-content: space-evenly;
   // width: 80%;
   height: auto;
   background: @accent;
   border: 5px solid black;

}

.title-names,
h1 {
   display: flex;
   flex-flow: row;
   justify-content: space-evenly;
   align-content: center;
   margin: 4%;
}

img {
   display: flex width: 65%;
   // border-radius: 50%;
   // margin-bottom: @margin-bottom;
}

h1 {
   font-size: 2.5rem;
   // margin-bottom: @margin-bottom;
}

// h2 {
//    // margin-bottom: @margin-bottom;
//    padding-bottom: 3%;
//    border-bottom: 1px solid black;
// }

.button {
   display: flex;
   margin-top: 3%;
   padding: 10px 10px;
   border-radius: 4px;
   background-color: @primary;
   border: none;
   text-decoration: none;
   color: @accent;
   font-size: 20px;

   a {
      text-align: center;
   }

   // button:hover {
   //    background-color: white;
   //    // color: @primary;
   // }
}