* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

p {
    line-height: 1.5;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

h1,
h2,
h3,
p,
a,
button {
    font-family: 'Roboto', monospace;
}

.landing {
    .flex(no-wrap, space-between);
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1680px) {
    .footer {
        bottom: 3.5em;
        left: 3.5em;
    }
}

@media screen and (max-width: 736px) {
    .footer {
        bottom: 2em;
        left: 2em;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        bottom: 1.25em;
        left: 1.25em;
    }
}

@media screen and (max-height: 640px) {
    .footer {
        bottom: auto;
        left: auto;
        margin: 1em 0 0 0;
        position: relative;
    }
}