.landing {
    header{
        width: 100%;
        .flex(no-wrap, space-around);
        align-items: center;
        height: 80px;
        background: @primary;
        border-bottom: 3px solid fadeout(@accent, 20%);

        img {
            width: 100px;
            height: 75px;
        }

        h1 {
            color: @accent;
        }

        nav {
            width: 40%;
            .flex(no-wrap, space-evenly);

            a {
                color: #555;
                font-size: 1.8rem;

                &:hover {
                    color: @accent;
                }

                &:active {
                    color: @primary;
                }
            }
        }
    }
}