.landing {
    header {
        width: 100%;
        max-width: 1000px;

        .flex(no-wrap, space-around);
        align-items: center;
        height: 100px;
        background: linear-gradient(@primary, rgba(257, 57, 57, .9), rgba(257, 57, 57, 0));
        position: fixed;
        z-index: 9999;

        @media @tablet {
            height: auto;
            flex-wrap: wrap;
        }

        @media (max-width: 600px) {
            position: relative;
        }

        img {
            width: 100px;
            height: 75px;
            margin: 2%;
        }

        h1 {
            color: @accent;
            font-size: 5rem;

            @media @tablet {
                font-size: 3rem;
            }
        }

        nav {
            width: 45%;
            .flex(no-wrap, space-evenly);

            @media @tablet {
                flex-wrap: wrap;
            }

            @media (max-width: 600px) {
                width: 100%;
            }

            a {
                color: #555;
                font-size: 1.8rem;
                text-align: center;

                @media @tablet {
                    width: 45%;
                }

                // Used a different max-width instead of @mobile because the nav items begin to overlap before it reaches the 500px threshold.
                @media (max-width: 600px) {
                    width: 48%;
                    color: @accent;
                    font-size: 2rem;
                    background: rgba(255, 255, 255, .1);
                    margin: 2px;
                }

                &:hover {
                    color: @accent;

                    @media (max-width: 600px) {
                        color: #555;
                        background: rgba(255, 255, 255, .3);
                    }
                }

                &:active {
                    color: @primary;
                }
            }
        }
    }
}