.testimonials {
    width: 100%;
    
    .opening {
        margin-top: 100px;
        text-align: center;
        width: 80%;

        p {
            line-height: 2;

            .accent {
                color: @accent;
            }

            .small {
                font-size: 1.4rem;
            }

            .big {
                font-size: 2.5rem;
            }
        }
    }

    #dad-container{
        width: 100%;
        margin: 50px;
        .flex(nowrap, space-around);

        @media @tablet {
            flex-wrap: wrap;
        }

        .dad {
            width: 18%;
            height: 400px;
            background: linear-gradient(rgba(255, 158, 68, .5), @accent, @accent, rgba(255, 158, 68, .5));
            .flex(wrap, center);

            @media @tablet {
                width: 35%;
                margin: 10px;
            }

            @media @mobile {
                width: 75%;
            }
            

            h2 {
                color: primary;
                font-size: 1.8rem;
                text-align: center;
                width: 100%;
            }

            img {
                width: 60%;
                height: 200px;
            }

            .hover-reveal {
                display: none;

                p {
                    padding: 20px;

                    @media @tablet {
                        font-size: 1.4rem;
                        padding: 10px;
                    }
                }
            }

            &:hover {
                width: 35%;
                background: lighten(@accent, 5%);
                height: auto;

                @media @tablet {
                    width: 50%;
                }

                @media @mobile {
                    width: 100%;
                }

                .hover-reveal {
                    display: block;
                }
            }
        }
    }

    .signup {
        .flex(nowrap, space-evenly);
        align-items: center;

        .signup-half {
            margin: 25px;

            p {
                font-size: 3rem;
            }

            button {
                height: 2.5rem;
                background: @accent;
                border-radius: 5px;
                border: none;
                width: 50px;
                font-size: 2rem;

                &:hover {
                    background: lighten(@accent, 5%);
                }

                &:active {
                    background: @accent;
                }
            }
        }
    }
}